{% extends "base.html.twig" %}

{% block content %}
	<form action="" id="login">
		<div class="inputs">
			<input name="phoneNum" class="roundedInputs" type="text" placeholder="Phone Number">
			<input name="password" class="roundedInputs" type="password" placeholder="Password">
		</div>
		<input class="roundedInputs saveButton" type="submit" value="Submit">
	</form>
{% endblock %}