/* line 5, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.scss */
html {
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial;
}

/* line 8, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 11, ../sass/screen.scss */
body {
  background-color: #fefefe;
}

/* line 15, ../sass/screen.scss */
.link[data-key] {
  cursor: pointer;
}

/* line 19, ../sass/screen.scss */
header {
  border-bottom: solid 4px #949090;
  background-color: #1f67ca;
  z-index: 1;
  overflow: hidden;
}
/* line 24, ../sass/screen.scss */
header #headerLogo {
  margin: 15px 0;
  z-index: 3;
}
/* line 27, ../sass/screen.scss */
header #headerLogo img {
  max-height: 50px;
  display: block;
  margin: auto;
}
/* line 33, ../sass/screen.scss */
header #logo {
  margin-top: 10px !important;
  max-height: 100px !important;
}

/* line 39, ../sass/screen.scss */
nav {
  position: relative;
  top: -26px;
}
/* line 42, ../sass/screen.scss */
nav ul {
  display: block;
}
/* line 45, ../sass/screen.scss */
nav li {
  display: inline-block;
  width: 49%;
  color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1rem;
}
/* line 53, ../sass/screen.scss */
nav li.active {
  color: #fefefe;
  position: relative;
}
/* line 56, ../sass/screen.scss */
nav li.active:after {
  content: '';
  height: 0px;
  width: 0px;
  border: 5px solid transparent;
  position: absolute;
  top: 1rem;
  left: 49.0%;
  border-bottom: 5px solid #fefefe;
}

/* line 72, ../sass/screen.scss */
footer li {
  border-left: 1px solid #dfdede;
  color: #1f67ca;
  display: inline-block;
}
/* line 76, ../sass/screen.scss */
footer li:nth-of-type(1) {
  border-left-width: 0;
}
/* line 80, ../sass/screen.scss */
footer #topFooter, footer #bottomFooter {
  text-align: center;
}

/* line 85, ../sass/screen.scss */
#topFooter > li {
  padding: 10px;
}

/* line 90, ../sass/screen.scss */
#bottomFooter > li {
  padding: 5px;
  font-size: smaller;
}

/* line 103, ../sass/screen.scss */
#register .inputs, #login .inputs {
  padding: 10px 0 10px;
  background-color: #dfdede;
  margin-bottom: 10px;
}
/* line 107, ../sass/screen.scss */
#register .inputs .roundedInputs, #login .inputs .roundedInputs {
  display: block;
  margin: 0 auto 10px;
}
/* line 112, ../sass/screen.scss */
#register .roundedInputs, #login .roundedInputs {
  padding: 5px;
}
/* line 116, ../sass/screen.scss */
#register .saveButton, #login .saveButton {
  margin: auto;
  display: block;
}

/* line 122, ../sass/screen.scss */
.saveButton {
  background-color: #1f67ca;
  color: #fefefe;
}

/* line 126, ../sass/screen.scss */
.roundedInputs {
  border-radius: 13px;
  border: 1px solid #000000;
}

/* line 131, ../sass/screen.scss */
#headerSearch {
  display: block;
  margin: auto;
  width: 62%;
  margin-top: 10px;
  position: relative;
}
/* line 137, ../sass/screen.scss */
#headerSearch input {
  border-radius: 13px;
}
/* line 139, ../sass/screen.scss */
#headerSearch input[type=text] {
  padding-left: 18px;
  border: 1px solid black;
  width: 100%;
}
/* line 144, ../sass/screen.scss */
#headerSearch input[type=submit] {
  position: absolute;
  left: 0;
  top: 5px;
  background-color: transparent;
  border: 0 solid transparent;
}

/* line 156, ../sass/screen.scss */
.feedItem {
  border-bottom: 1px solid #dfdede;
  padding: 10px 2% 5px 2%;
  text-align: left;
  font-size: .9em;
}
/* line 161, ../sass/screen.scss */
.feedItem h3 {
  margin-bottom: 5px;
  color: #000000;
  font-weight: bold;
  font-size: .7em;
}
/* line 168, ../sass/screen.scss */
.feedItem .dateStamp {
  padding-top: 2px;
  color: #949090;
  font-size: .7em;
}

/* line 175, ../sass/screen.scss */
#footerLogout {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  display: block;
  margin: auto;
  color: #949090;
  text-decoration: none;
}

/* line 185, ../sass/screen.scss */
.feedItem .hiddenItem {
  display: none;
}

/* line 188, ../sass/screen.scss */
.feedItem {
  position: relative;
}

/* line 191, ../sass/screen.scss */
.itemIcons {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 195, ../sass/screen.scss */
.itemIcons img {
  max-width: 50px;
}
