@import "compass/reset";
@import "_uikit";

html {
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-color: $white;
}

.link[data-key] {
	cursor: pointer;
}

header {
    border-bottom: solid 4px $darkGray;
	background-color: $blue;
	z-index: 1;
	overflow: hidden;
	#headerLogo {
		margin: 15px 0;
		z-index: 3;
		img {
			max-height: 50px;
			display: block;
			margin: auto;
		}
	}
	#logo {
		margin-top: 10px !important;
		max-height: 100px !important;
	}
}

nav {
	position: relative;
	top: -26px;
	ul {
		display: block;
	}
	li {
		display: inline-block;
		width: 49%;
		color: $black;
		text-align: center;
		padding: 0;
		margin: 0;
		line-height: 1rem;
		&.active {
			color: $white;
			position: relative;
			&:after {
				content: '';
				height: 0px;
				width: 0px;
				border: 5px solid transparent;
				position: absolute;
				top: 1rem;
				left: 49.0%;
				border-bottom: 5px solid $white;
			}
		}
	}

}

footer {
	li {
		border-left: 1px solid $gray;
		color: $blue;
		display: inline-block;
		&:nth-of-type(1) {
			border-left-width: 0;
		}
	}
	#topFooter, #bottomFooter {
		text-align: center;
	}
}
#topFooter {
	& > li {
		padding: 10px;
	}
}
#bottomFooter {
	& > li {
		padding: 5px;
		font-size: smaller;
	}
}



#content {
	// padding: 0 1%;
}

#register, #login {
	.inputs {
		padding: 10px 0 10px;
		background-color: $gray;
		margin-bottom: 10px;
		.roundedInputs {
			display: block;
			margin: 0 auto 10px;
		}
	}
	.roundedInputs {
		padding: 5px;

	}
	.saveButton {
		margin: auto;
		display: block;
	}

}
.saveButton {
	background-color: $blue;
	color: $white;
}
.roundedInputs {
	border-radius: 13px;
	border: 1px solid $black;
}

#headerSearch {
	display: block;
	margin: auto;
	width: 62%;
	margin-top: 10px;
	position: relative;
	input {
		border-radius: 13px;
		&[type=text] {
			padding-left: 18px;
			border: 1px solid black;
			width: 100%;
		}
		&[type=submit] {
			position: absolute;
			left: 0;
			top: 5px;
			background-color: transparent;
			border: 0 solid transparent;
		}
	}
}

#feedItems {
}
.feedItem {
	border-bottom: 1px solid $gray;
	padding: 10px 2% 5px 2%;
	text-align: left;
  font-size: .9em;
	h3 {
		margin-bottom: 5px;
      color: $black;
      font-weight: bold;
      font-size: .7em;
	}

    .dateStamp {
      padding-top: 2px;
      color: $darkGray;
      font-size: .7em;
    }
} 

#footerLogout {
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	display: block;
	margin: auto;
	color: $darkGray;
	text-decoration: none;
}